a
{
    color: inherit;
}
body
{
    background-color: #0077b5;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
}
div.bigTitle, span.bigTitle
{
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size: 48px;
    padding-bottom: 6px;
}
div.content
{
    padding-top: 100px;
}
div.header
{
    background-color: inherit;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 6px;
    padding-top: 6px;
}
div.header > a, span.smallHeader > a
{
    text-decoration: none;
    position: relative;
}
div.header > a:before, span.smallHeader > a:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
div.header > a:hover:before, span.smallHeader > a:hover:before
{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
div.firstLetter, span.firstLetter
{
    color: black;
    font-size: 32px;
}
div.bold, span.bold
{
    font-weight: bold;
}
