@import "https://fonts.googleapis.com/css?family=Roboto|Rubik";

a {
    color: inherit;
}
body {
    font-family: "Roboto", monospace;
    font-size: 16px;
}
div.bigTitle, span.bigTitle {
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size: 3em;
    padding-bottom: 6px;
}
div.content {
    padding-top: 117px;
}
div.footer {
    font-size: 0.5em;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
div.header {
    background-color: inherit;
    font-family: "Roboto", monospace;
    /*font-size: 1.25em;*/
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 6px;
    padding-top: 6px;
}
div.header > a, span.smallHeader > a {
    text-decoration: none;
    position: relative;
}
div.firstLetter, span.firstLetter {
    font-size: 2em;
}
div.bold, span.bold {
    font-weight: bold;
}
div.section {
    margin: 0 auto;
    width: 75%;
}
div.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
span.smallHeader {
    padding-left: 24px;
}
span.linethrough {
    text-decoration: line-through;
}
div.parallax {
    background-attachment: fixed;
    background-image: url("../images/mainbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    line-height: 400px;
    text-align: center;
    vertical-align: middle;
}
hr.footerSeparator {
    border: 0;
    height: 0.9px;
}

/************** MEDIA QUERIES **************/
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
    body {
        font-size: 42px;
    }
    div.bigTitle, span.bigTitle {
        font-size: 1.9em;
    }
    div.footer, div.section {
        width: 95%;
    }
    div.content {
        padding-top: 209px;
    }
}

/************** COLORS **************/
.bgblack {
    background-color: black;
}
.bggray {
    background-color: gray;
}
.bggreen {
    background-color: green;
}
.bglinkedin {
    background-color: #0077b5;
}
.bgskyblue {
    background-color: skyblue;
}
.bgtomato {
    background-color: tomato;
}
.bgwhite {
    background-color: white;
}
.bgyellow {
    background-color: yellow;
}
.black {
    color: black;
}
.gray {
    color: gray;
}
.green {
    color: green;
}
.linkedin {
    color: #0077b5;
}
.skyblue {
    color: skyblue;
}
.tomato {
    color: tomato;
}
.white {
    color: white;
}
.yellow {
    color: yellow;
}
