@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.bg-black {
    background-color: black;
}

body {
    padding: 4.5rem 0;
}

.iframe-video {
    border: none;
}

.jumbotron-welcome {
    background-image: url('../images/welcome-banner.png');
    background-position: center 25%;
    background-size: cover;
    height: 25rem;
}

.navbar {
    background-color: white;
}
