@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&subset=latin&display=swap");

body {
  background-color: #000d1a;
  color: white;
  font-family: "Inter", sans-serif !important;
}
